<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!--<h1 class="logo"><a href="index.html">Alma Libre</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="" class="logo"><img src="assets/img/logo1.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a routerLink="/home" routerLinkActive="active-link" class="nav-link scrollto active">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
          <li class="dropdown"><a routerLink="/inventario" routerLinkActive="active-link"><span>Inventario</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/asientos" routerLinkActive="active-link" class="nav-link scrollto">Asiento adaptable<img src="assets/img/iconos/2.png" class="imgIcono"></a></li>
              <li><a routerLink="/aseo" routerLinkActive="active-link" class="nav-link scrollto">Baño y aseo<img src="assets/img/iconos/5.png" class="imgIcono"></a></li>
              <li><a routerLink="/comunicacion" routerLinkActive="active-link" class="nav-link scrollto">Dispositivos de comunicacion<img src="assets/img/iconos/6.png" class="imgIcono"></a></li>
              <li><a routerLink="/acceso" routerLinkActive="active-link" class="nav-link scrollto">Acceso<img src="assets/img/iconos/4.png" class="imgIcono"></a></li>
              <li><a routerLink="/silladeruedas" routerLinkActive="active-link" class="nav-link scrollto">Silla de ruedas electricas<img src="assets/img/iconos/1.png" class="imgIcono"></a></li>
              <li><a routerLink="/recreacion" routerLinkActive="active-link" class="nav-link scrollto">Recreacion<img src="assets/img/iconos/3.png" class="imgIcono"></a></li>
              <li><a routerLink="/standers" routerLinkActive="active-link" class="nav-link scrollto">Standers<img src="assets/img/iconos/11.png" class="imgIcono"></a></li>
              <li><a routerLink="/equiposterapia" routerLinkActive="active-link" class="nav-link scrollto">Equipos de terapia<img src="assets/img/iconos/10.png" class="imgIcono"></a></li>
              <li><a routerLink="/ayudacaminar" routerLinkActive="active-link" class="nav-link scrollto">Ayuda para caminar<img src="assets/img/iconos/9.png" class="imgIcono"></a></li>
              <li><a routerLink="/carriolas" routerLinkActive="active-link" class="nav-link scrollto">Silla de ruedas - Carriolas<img src="assets/img/iconos/8.png" class="imgIcono"></a></li>
            </ul>
          </li>
          <li><a routerLink="/voluntarios" routerLinkActive="active-link" class="nav-link scrollto">Voluntarios</a></li>
          <li><a routerLink="/donar" routerLinkActive="active-link" class="nav-link scrollto">Donar</a></li> 
          <li><a class="getstarted scrollto" href="#about">Inicar sesion</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
