<app-navmenu></app-navmenu>

<section id="heroimg">
        <img src="assets/img/encabezado-img/Donaciones.png">
</section>

<div class="encabezado">
        <p class="text-encabezado">R.T.A.C. forma parte de Alma Libre Cancun A.C. una red de apoyo enfocados en la 
                rehabilitación, el deporte adaptado, la recreación y el acceso a tecnologías asistivas. 
                Su contribución a la Red de Tecnologia Asistiva Cancún nos ayudará a ofrecerle a las personas con 
                discapacidad de Cancún una solución tecnológica para mejorar su calidad de vida e independencia.<br>
                Esperamos que pueda unirse en esta experiencia verdaderamente conmovedora. No dude en ponerse en 
                contacto con nosotros con cualquier pregunta que pueda tener. 
        </p>
</div>


<div class="row">
        <div class="col-md-5">
                <img class="imageV" src="assets/img/image100.jpeg">
        </div>
        <div class="col-md-7">
                <h1>Donativos</h1> 
                <div class="section">
                        <details>
                                <summary>Deposito bancario o transferencia</summary>
                                <ul>
                                        <li>Banco:<span class="dato"> BANORTE</span> </li>
                                        <li>Nombre:<span class="dato"> Alma Libre Cancun AC</span></li>
                                        <li>Cuenta:<span class="dato"> 1140478748</span></li>
                                        <li>Tipo de cuenta:<span class="dato"> Cheques</span></li>
                                        <li>Clave bancaria:<span class="dato"> 072691011404787481</span></li>
                                        <li>Moneda:<span class="dato"> Pesos</span></li>
                                </ul>
                                <p class="frase">La generosidad no consiste en dar mucho, sino en dar a tiempo.<br> (Jean de La Bruyère)</p>
                        </details>


                                <h1 class="donativo">Donativo de equipo nuevo o usado.</h1>
                                <h6>Favor completar el siguiente formato.</h6>
                                <div class="card">
                                        <div class="card-body">
                                          <form action="#">
                                            <div class="form-group">
                                              <label for="nombre">Nombre Completo:</label>
                                              <input required="" class="form-control" name="nombre" id="nombre" type="text">
                                            </div>
                                            <div class="form-group">
                                              <label for="direccion">Direccion:</label>
                                              <input required="" class="form-control" name="direccion" id="direccion" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="telefono">Telefono:</label>
                                                <input required="" class="form-control" name="telefono" id="telefono" type="text">
                                              </div>
                                              <div class="form-group">
                                                <label for="telefono">Equipo a donar:</label>
                                                <input required="" class="form-control" name="telefono" id="telefono" type="file">
                                              </div>
                                           <input type="submit" class="btn" value="Enviar"></form>
                                        </div>
                                      </div>
                </div>
        </div>
</div>


      <app-footer></app-footer>



      

