<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Red Tecnologia Asistiva Cancun</h3>
              <p>
                <!--KM 13, Mz 30, Lt 1, Loc 11,<br>
                Blvd D. Colosio Carrretera <br>
                Cancún - Apto. Cancún Q. R.<br>-->
                <strong>Phone:</strong> 9981212144<br>
                <strong>Email:</strong> AlmaLibre@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/almalibrecancunac" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
                <a href="" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
                <a href="https://us05web.zoom.us/j/86327050519?pwd=SUI3aUhTWVd0dXNYTlhkMStRZnFTUT09" class="videollamada" target="_blank"><i class="bx bx-video"></i></a>
                <a href="https://wa.link/m42osk" class="whatsapp" target="_blank"><i class="bx bxl-whatsapp"></i></a>
                <a href="tel:+52998821423" class="phone"><i class="bx bx-phone"></i></a> 
              </div>
            </div>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Menu</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/home" routerLinkActive="active-link" >Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/inventario" routerLinkActive="active-link">Inventario</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/voluntarios" routerLinkActive="active-link">Voluntarios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink="/donar" routerLinkActive="active-link">Donaciones</a></li>
              
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-6 footer-links">
            <h4>¿Te gustaria apoyarnos?</h4>
            <p>Con tu apoyo seguimos fortaleciendo a más niños y a sus familias para que 
              la discapacidad no termine con sus 
              sueños.</p>
              <button class="custom-btn btn-1" routerLink="/donar">Donar</button>
  
              
              
           
          </div> 
  
          <div class="col-lg-3 col-md-6 footer-newsletter">
            <img class="logo1" src="assets/img/logo1.png">
            <img class="logo2" src="assets/img/logo2.png">
  
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Alma Libre</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="">Ernesto Chacon</a>
      </div>
    </div>
  </footer><!-- End Footer -->
