<app-navmenu></app-navmenu>
  
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/image0.png)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Bienvenidos <span>R. T. A. C.</span></h2>
              <p class="animate__animated animate__fadeInUp">Dando movilidad y oportunidades a los niños y jovenes con discapacidad.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver mas</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/image5.jpeg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Alejandra</h2>
              <p class="animate__animated animate__fadeInUp">La mejor opcion para iniciar tu recorrido vacacional, disfruta de tus sitios favoritos para vacacionar en el verano!</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver mas</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-12.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Servicio de rentas</h2>
              <p class="animate__animated animate__fadeInUp">Renta tu auto, camioneta o urvan con CarRental-UT, contamos con el mejor servicio de renta de autos de la Riviera Maya</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Ver mas</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->


  <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Red Tecnologia Asistiva Cancun</h2>
          <p>Nosotros</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
                La red de Tecnologia Asistiva Cancun es un programa de Alma Libre Cancun A.C.
            </p>
            <!--<ul>
              <li><i class="ri-check-double-line"></i> Nuestras tarifas incluyen Kilómetros Ilimitados</li>
              <li><i class="ri-check-double-line"></i> Seguros de Cobertura Amplia e Impuestos</li>
              <li><i class="ri-check-double-line"></i> Además tenemos una política de depósitos transparente y con los montos más bajos del mercado.</li>
            </ul>
          -->
          <p>Es un programa que tiene como objetivo promover el intercambio de tecnologia asistiva, o tecnologia de asistencia,
            entre la poblacion con discapacidad, a traves de la donacion, compra-venta, y permuta soportada por un centro
            de informacion donde interactuen demandantes y oferentes.
          </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              La tecnologia asistiva o de asistencia (AT) se refiere a cualquier dispositivo o sistema que permite a las
              personas con discapacidad, realizar tareas que de otro modo no podrian hacer, o que aumenta la facilidad 
              y seguridad de realizar dichas tareas. Como tal, normalmente se relaciona con ayudas o equipos para la 
              movilidad y las actividades.
            </p>
            <a routerLink="/inventario" class="btn-learn-more">Ver inventario</a>  
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>¿Te gustaría apoyarnos con una donación?</h3>
          <p>Con tu apoyo seguimos fortaleciendo a más niños y a sus familias 
            para que la discapacidad no termine con sus sueños.</p>
          <a class="cta-btn" routerLink="/donar">Donar</a>
        </div>

      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/img/image10.png");' data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>Como funciona esta <strong>red</strong></h3>
              <p>
                Red de Tecnologia Asistiva Cancun acepta donaciones de equipos adaptados para personas con
                discapacidad, nuevos, usados o reconstruidos que son entregados posteriormente a niños y jovenes 
                con discapacidades que lo nesecitan sin costo
              </p>
            </div>

            <!--

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Los Precios más Bajos <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                        Nuestra tarifa baja es  un beneficio para tí, no busques más, somos la mejor opción en renta de autos en Cancún..
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Kilómetros Ilimitados <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                        No importa la cantidad de kilómetros que recorras, disfruta sin preocupaciones.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Pickup & Return Accesibles <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                        Nosotros vamos por tí al Aeropuerto, te entregamos tu auto y al devolver te llevamos de vuelta.
                    </p>
                  </div>
                </li>

              </ul>
            </div>
            -->

          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta2" class="cta2">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>“La labor de un voluntario consiste en dar tu tiempo por decisión propia, pero con gran generosidad, responsabilidad y calidad humana” 
            </h3>
            <p>Tenemos la certeza de que al ayudar a esta causa tan noble, encontrarás una recompensa invaluable, 
              al saber que tu apoyo se traduce en un gran cambio en la vida de muchos de nuestros niños 
              y de sus familias.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" routerLink="/voluntarios">Ser voluntario</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>R.T.A.C</h2>
        <p>Contactanos</p>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3>Correo electronico</h3>
                <p>AlmaLibre@gmail.com</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Llamanos</h3>
                <p>+52 9981212144<br>+52 9981608777</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre completo" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electronico" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Enviar mensaje</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->


  <app-footer></app-footer>






