<app-navmenu></app-navmenu>

<section id="heroimg">
    <img src="assets/img/encabezado-img/Voluntarios.png">
</section>

<div class="encabezado">
    <p class="text-encabezado">"Con solo unas horas de tu tiempo podras ser factor de cambio en la calidad de vida 
        de personas con discapacidad en la ciudad de Cancun. Tú puedes hacer la diferencia".
    </p>
</div>

<div class="bodyVoluntarios row">
  <div class="col-md-6">
    <p class="textVoluntarios">
      Tenemos la certeza de que al ayudar a esta causa tan noble, encontrarás una recompensa invaluable, 
      al saber que tu apoyo se traduce en un gran cambio en la vida de muchos de nuestros niños y de sus familias.
    </p>
    <h3 class="fraseVoluntarios">
      Desde este momento tú ya formas parte, más que de un equipo de trabajo, de una gran familia.
    </h3>
    <a href="https://forms.gle/CGua7vAhLFK8QDM17" class="custom-btn btn-1" target="_blank">Quiero ser voluntario</a>
    
  </div>

  <div class="col-md-6">
    
    <!--<div class="slider">
      <ul>
        <li>
          <img src="assets/img/slide2.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/slide1.jpg" alt="">
        </li>
        <li>
          <img src="assets/img/image11.jpeg" alt="">
        </li>
        <li>
          <img src="assets/img/slide3.jpeg" alt=""> 
        </li>
      </ul>
    </div>-->
  </div>
</div>

  <app-footer></app-footer>